@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courier+Prime:wght@400;700&family=Inter:wght@400;600&family=Oswald:wght@500;700&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  color: white;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom ,rgb(26, 26, 26),rgb(30, 30, 30) , black);
    padding: 20px;
    
}
section{
    height: 100%;
    width: 350px;
    margin: auto;
    background-color: black;
    border-radius: 10px;
    
}
.all-Reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.all-Reels::-webkit-scrollbar{
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
   height: 100%;
   width: 100%;
    object-fit: cover;
}
.reel .bottom{
    padding: 30px 20px;
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.948));
    width: 100%;
    position: absolute;
    bottom: 0;
    color: aliceblue;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.bottom>h3{
    font-weight: 500;
    font-size: 20px;
}
.bottom .user button{
    text-align: center;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
}
.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
}
.user img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
}
.right{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    position: absolute;
    bottom: 10%;
    right: 0;
    
}
.right h4{
    cursor: pointer;
}
.right i{
    font-size: 25px;
    font-weight: 500;
}
.right h6{
   font-family: 'Oswald', sans-serif; 
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: 1px black; 
  font-style: italic;
}
.right>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}