*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    cursor: none;
}
main img{
    position: absolute;
    height: 80px;
    transform: translate(-50%,-50%);
}