*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
    background-color: black;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    gap: 20px;
}
.box{
    height: 40vh;
    width: 40vw;
    background-color: teal;
    margin: 50px 40px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: orangered;
    border-radius: 5px;
}
button:active{
    scale: 0.95;
}