* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  display: flex;
  flex-direction: column;
  height: 50vh;          
  width: 40vw;
  background-color: #eae2e2;
  border-radius: 10px;
  padding: 30px;
}

.full h2 {
  text-align: center;
  margin-bottom: 30px;
}

.full p {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.downloading-bar {
  height: 20px;
  width: 100%;
  background-color: rgb(192, 186, 186);
  border-radius: 50px;
  margin-bottom: 20px;  /* Added spacing so bar is visible */
}

.progress {
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: 50px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.bottom h2 {
  font-size: 60px;
  font-weight: 300;
  font-family: monospace;
}

.bottom button {
  padding: 12px 25px;
  background-color: green;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.bottom button:active {
  transform: scale(0.95);
}
