*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue, sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
               Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
               'Helvetica Neue', sans-serif;
}

body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */
.line{
  padding: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimation{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}
/* card */
.box{
  width: 10vw;          
  max-width: 900px;    
  min-width: 320px;    
  padding: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  flex-shrink: 0;      
  
  background: linear-gradient(black) padding-box,
  conic-gradient(from var(--rotate), black,black,rgb(255, 0, 64),black) border-box;
  border: 0px solid rgba(255, 255, 255, 0);
  animation: borderAnimation 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition: all 0.3s linear;
  box-shadow: 0 0 0px rgb(255, 0, 64);
  text-shadow: 0 0 0px rgb(255, 0, 64);
}
.box:hover{
    box-shadow: 0 0 60px rgb(255, 0, 64);
    animation-play-state: running;
    border-width: 5px;
    color: rgba(255, 0, 64, 0.84);
    text-shadow: 0 0 4px rgb(255, 0, 64);
}
/* image */
.box img{
  height: 65vh;
  width: 100%;
  object-fit: cover;
}
