*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
main{
    height: auto;
    width: 100%;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    position: relative;
    gap: 30px;
}
.card{
    width: 340px;
    background: linear-gradient(142deg, rgb(142, 169, 205), rgb(249, 131, 95));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.card h2{
    color: rgb(46, 50, 54);
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 700;
    font-family: monospace;
    white-space: nowrap;
}
.card h3{
    color: rgb(46, 50, 54);
    margin: 10px 0px;
    font-size: 25px;
    font-weight: 700;
    font-family: monospace;
    white-space: nowrap;
}
.card p{
    color: rgb(33, 37, 41);
    font-size: 18px;
    text-align: center;
    margin: 10px 0px;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    justify-content: center;
    padding: 10px 0;   
}


.tag {
    background: rgba(255,255,255,0.4);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #1f1f1f;
    white-space: nowrap;    
}

